<!--{% load static %}-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'person.css' %}">

  </head>
<body>
	
	<div class="form-box">
  <h1>PERSON</h1>
  <h5>ENTRY</h5>

  <div class="textbox">
    <i class="fas fa-user"></i>
    EMPLOYEE_ID<input type="text" placeholder="">
  </div>
 
   <div class="textbox">
REAL_NAME<input type="text" placeholder="">
  </div>

   <div class="textbox">
 COUNTRY<input type="text" placeholder="">
  </div>

<input type="button" class="btn" value="submit">
    </div>
</body>
</html>


